body {
    background-color: #F4F4F4;
}

h1, h2 {
    color: #594433;
}

p {
    color: #0a0a0a;
}

a {
   color: #9BA657; 
}

nav {
    background-color: #A68C69;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #9ec995;
}

nav a:hover {
    background-color: #124008;
}